@charset "UTF-8";
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; /* Pełna szerokość */
  min-width: 1200px; /* Maksymalna szerokość */
  margin: 0 auto; /* Wyśrodkowanie */
}

.header-section {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 1px;
  width: 100%; /* Pełna szerokość */
  min-width: 1200px; /* Maksymalna szerokość */
  margin: 0 auto; /* Wyśrodkowanie */
  height: 70vh;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(31, 97, 136, 0.656);
}

.hero-head {
  width: 100%;
  min-width: 1200px;
  top: 0px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(50% - 150px);
  background-attachment: scroll;
  z-index: -100;
  max-height: 610px;
  height: 100%;
}

.header-section::before {
  content: ""; /* Dodaj pustą zawartość */
  position: absolute; /* Ustaw pozycję tła */
  top: 0; /* Wyśrodkuj tło w pionie */
  left: 0; /* Wyśrodkuj tło w poziomie */
  width: 100%; /* Ustaw szerokość tła jako 100% szerokości kontenera */
  height: 100%; /* Ustaw wysokość tła jako 100% wysokości kontenera */
  background-image: url("/img/island-large.jpg"); /* Ustaw tło */
  background-size: 100% 100%; /* Dopasuj tło do kontenera */
  z-index: -1000;
  background-repeat: no-repeat;
  background-position: center; /* Ustaw tło za obrazem */
}

.btn-offers {
  position: absolute;
  margin-top: 400px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  background-color: #eee;
  color: black;
  font-size: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
}

.burger-btn,
.navi {
  transition: transform 0.4s 0.2s ease-in-out;
}

.burger-btn {
  position: absolute;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  top: 30px;
  right: 20px;
}

.burger-btn__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  z-index: 10;
}

.burger-btn__bars {
  position: absolute;
  right: 0;
  top: 50%;
  transition: background-color 0.5s 0.3s ease-in-out;
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  justify-content: space-between;
  width: 40px;
  height: 5px;
  content: "";
  background-color: rgba(255, 255, 255, 0.77);
  transition: width 0.3s;
}

.burger-btn__bars::before,
.burger-btn__bars::after {
  content: "";
  position: absolute;
  right: 0;
  justify-content: space-between;
  width: 40px;
  height: 5px;
  content: "";
  background-color: rgba(255, 255, 255, 0.77);
  transition: width 0.3s;
  left: 0;
  transition: transform 0.4s ease-in-out;
}

.burger-btn__bars::before {
  content: "";
  top: -10px;
}

.burger-btn__bars::after {
  content: "";
  top: 10px;
}

.burger-btn--active .burger-btn__bars {
  background-color: transparent;
  transition: transform 0.4s 0.4s ease-in-out;
}

.burger-btn--active {
  transform: translatex(0px);
  z-index: 1000;
}

.burger-btn--active .burger-btn__bars::before {
  transform: translateY(10px) rotate(45deg);
  position: absolute;
  right: 0;
  justify-content: space-between;
  width: 40px;
  height: 5px;
  content: "";
  background-color: rgba(0, 0, 0, 0.77);
  transition: width 0.3s;
}

.burger-btn--active .burger-btn__bars::after {
  transform: translateY(-10px) rotate(-45deg);
  position: absolute;
  right: 0;
  justify-content: space-between;
  width: 40px;
  height: 5px;
  content: "";
  background-color: rgba(0, 0, 0, 0.77);
  transition: width 0.3s;
}

.burger-btn__bars {
  transition: background-color 0.5s 0.4s ease-in-out;
}

.navi {
  height: 70vh;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.736);
  position: absolute;
  top: 0;
  left: 5px;
  opacity: 0;
  transform: translateX(-1400px);
  transition: opacity 0.4s 0.1s ease;
}

.navi--active {
  transform: translateX(1010px);
  opacity: 1;
  z-index: 1;
}

.navi-list {
  margin: 80px;
  margin-top: 50px;
  list-style: none;
}

.navi-item {
  text-decoration: none;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */