// importujemy sobie nasze scssy poprzez @import './'
@use './colors' as *;
@use './components' as *;
@use './mixins' as *;

// Standardowa kacja przed zrobiebiem strony - nasze RESET

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Zawsze ustawiam taki font size - bo chce abys trona byla responsywna , aby byla to musze uzywac REM , EM - REM na FontsiZe , a EM na reszte , czyli np padddingi
html {
	// smooth: Ta wartość zapewnia płynne przewijanie, co oznacza, że przeglądarka będzie starać się wygładzić ruch podczas przewijania, co daje bardziej naturalne i przyjemne wrażenia dla użytkownika.
	scroll-behavior: smooth;
}

// ustawiam sobie główną czcionkę którą dodałem sobie w html ,, oraz jej wielkosć
body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%; /* Pełna szerokość */
	min-width: 1200px; /* Maksymalna szerokość */
	margin: 0 auto; /* Wyśrodkowanie */
}

// Sekcja head - zdjęcie + napis + burgericon ---> JAK WIDAĆ NIE DODAŁEM TUTAJ ZDJĘCIA , DOPIERO W SEKCJI ::BEFORE - > PONIEWAŻ  NIE CHCIAŁEM ABY PRZY ZMIANIE ROZMIARU EKRANU POKAZYWAŁA SIĘ SEKCJA GHEADER , CZYLI TŁO POD SPODEM . CHCIAŁEM ABY WRAZ ZE ZMIANA OKNA ZMIENIAŁ SIĘ ROZMIAR TŁA POD SPODEM

.header-section {
	position: relative;

	display: flex;
	overflow: hidden;
	padding: 1px;
	width: 100%; /* Pełna szerokość */
	min-width: 1200px; /* Maksymalna szerokość */
	margin: 0 auto; /* Wyśrodkowanie */
	height: 70vh;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: rgba(31, 97, 136, 0.656);
}

.hero-head {
	width: 100%;
	min-width: 1200px;
	top: 0px;
	left: 0;
	object-fit: cover;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover; // rozciagniecie obrazka na całą szerokość
	background-position: center calc(50% + -150px); // wycentrowałem + dodalem opcje przesunięcia zdjęcia wewnątrz kontenera tak by pokazywało to co chce
	background-attachment: scroll; //zrobiłem aby podczas przewijanaia strony się nie ruszało - gdybym dał fixed to wtedy przewijalo by sie razem ze strona
	z-index: -100;
	max-height: 610px;

	height: 100%;
}

.header-section::before {
	content: ''; /* Dodaj pustą zawartość */

	position: absolute; /* Ustaw pozycję tła */
	top: 0; /* Wyśrodkuj tło w pionie */
	left: 0; /* Wyśrodkuj tło w poziomie */
	width: 100%; /* Ustaw szerokość tła jako 100% szerokości kontenera */
	height: 100%; /* Ustaw wysokość tła jako 100% wysokości kontenera */
	background-image: url('/img/island-large.jpg'); /* Ustaw tło */
	background-size: 100% 100%; /* Dopasuj tło do kontenera */
	z-index: -1000;
	background-repeat: no-repeat;
	background-position: center; /* Ustaw tło za obrazem */
}

// BTN ******************
.btn-offers {
	position: absolute;
	margin-top: 400px;
	// dodajac left 50% + plus transform na osi X - no bo lewo i prawo to oś  X wysrodkowalem nasz przycisk
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	background-color: $light-white;
	color: black;
	font-size: 20px;
	border: 1px solid $light-white;
	border-radius: 8px;
	padding: 10px;
}

// **************NAVI****************

.burger-btn,
.navi {
	transition: transform 0.4s 0.2s ease-in-out;
}

.burger-btn {
	position: absolute;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin: 0;
	top: 30px;
	right: 20px;
}

// nadaje wymiary naszego hamburgera - pozycjonuje relatywnie , poniewaz dzieci naszego Boxa "KRESKI" (BARS) beda pozycjonowane absolitnie
.burger-btn__box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
	z-index: 10;
}

// paski, nr 1 - span , nr 2 - after , nr 3- before

.burger-btn__bars {
	position: absolute;
	right: 0;
	top: 50%;
	transition: background-color 0.5s 0.3s ease-in-out; // animacja ,że po wcisnieciu opoznia nam się troche przekladanie tych linii w burgerze

	transform: translateY(-50%);
	// INCLUDE TO ZAMIESZCZANIE NASZYCH USTAWIEN DLA DANEJ SEKCJI , KTROA UTWORZYLISMY W MIXIN
	@include burgerBtn;
}

.burger-btn__bars::before,
.burger-btn__bars::after {
	content: ''; //przy before i after zawsze musi byc content '' - bez tego nie pojawi nam się ostylowany div
	@include burgerBtn;
	left: 0;
	transition: transform 0.4s ease-in-out; // tu dodałen że nasze 2 linie górna i dolna po kliknięciu również mają animacje opoznienia
}

.burger-btn__bars::before {
	content: '';
	top: -10px;
}

.burger-btn__bars::after {
	content: '';
	top: 10px;
	
}

// *******NAVI PO KLIKNIECIU W BURGERA *********

// tutaj zrobilem ze po activ , czyli po kliknieciu nasza srodkowa kreska znika
.burger-btn--active .burger-btn__bars {
	background-color: transparent;
	transition: transform 0.4s 0.4s ease-in-out;
}

.burger-btn--active {
	transform: translatex(0px);
	z-index: 1000;
}

// tu bedzie akcja po hoverze , ze po kliknieciu górna kreska i dolna kreska beda się rozjeżdżać równo w górę i w dół i dodatkowo chce aby na srodku sie skrzyzowaly. UWAGA ! NAJPIERW MUSIMY PRZENOSIC NA OSI Y (TRANSLATEY) , A POTEM OBRACAC
.burger-btn--active .burger-btn__bars::before {
	transform: translateY(10px) rotate(45deg);
	@include afterburgerbtn;
}

.burger-btn--active .burger-btn__bars::after {
	transform: translateY(-10px) rotate(-45deg);
	@include afterburgerbtn;

	
}

.burger-btn__bars {
	transition: background-color 0.5s 0.4s ease-in-out; // animacja ,że po wcisnieciu opoznia nam się troche przekladanie tych linii w burgerze
}

// UL LISTA NAVI
.navi {
	height: 70vh;
	width: 500px;
	background-color: rgba(255, 255, 255, 0.736);
	position: absolute;
	top: 0;
	left: 5px;

	// Ukrywamy nawigacje - bo ma być widoczna dopiero po kliknięciu w BTN
	opacity: 0;

	// Dodałem to aby nawi nie była widoczna , bo nie chce tego na stronie , dopiero po kliknieciu w Burgera. -250 px dlategp ze nasz width (szerokosc ma 250)
	transform: translateX(-1400px);

	// robimy animacje na opacity , ze ma się pokawiać w .3s - OPACITY ustawiam po Kliknięciu na 1 czyli - navi--active
	transition: opacity 0.4s 0.1s ease;

}

// ustawiłem aby moja navi nie wychodziło w prawo , więc musi mieć 1010px . Gdyby było wiecej , to by poszerzało mi stronę i robiło białe pole
.navi--active {
	transform: translateX(1010px);
	opacity: 1;
	z-index: 1;
}

.navi-list {
	margin: 80px;
	margin-top: 50px;
	list-style: none;
}

// dodałem margin bottom , aby oddzielić jeden od drugiego
.navi-item {
	text-decoration: none;
	margin-bottom: 20px;
}
